.wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  padding: 0;
  flex-shrink: 0;
  height: 1.8rem;
  font-size: 0.9rem;
  gap: 0.5rem;
}

.buttons:hover {
  background-color: #1b4266;
  border: 1px solid white;
  color: white;
  padding: 0 5px;
}

.buttons:after {
  background-image: none;
}

.topicsScroll {
  display: flex;
  white-space: nowrap;
  scrollbar-width: thin;
}

.submenu-container {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
}

.submenu-container.expanded {
  max-height: 200px;
}
