.wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  padding: 0;
  flex-shrink: 0;
  height: 1.5rem;
  font-size: 0.8rem;
  gap: 0.5rem;
}

.buttons:hover {
  background-color: #1b4266;
  border: 1px solid white;
  color: white;
  padding: 0 5px;
}

.buttons:after {
  background-image: none;
}

.topicsScroll {
  display: flex;
  white-space: nowrap;
  scrollbar-width: thin;
}
