.wrapper {
  display: flex;
  flex-wrap: no-wrap;
  border: 1px solid white;
}

.category {
  margin: 5px;
  border: 1px solid white;
}

.buttons {
  display: flex;
  align-items: center;
  width: 30px;
  height: 25px;
  font-size: 9px;

  border: 1px solid white;
}

.buttons:hover {
  background-color: #1b4266;
  border: 1px solid white;
  color: white;
}

.img {
  width: 10px;
  height: 10px;
}
