.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.option span {
  margin-left: 10px;
}

.share-icon {
  cursor: pointer;
  display: block;
  margin: 10px auto;
}
